<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1>
                        <a href=""><img src="./assets/img/vertu.jpg"></a>
                    </h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fas fa-cart-plus"></i> <span class="product-count">5</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
            </div>
            <div class="cc">
                <div class="nav ">
                    <ul class="nav-ul">
                        <li class="nav_li"><a routerLink="">Trang Chủ</a></li>
                        <li><a routerLink="/shop">Sản Phẩm </a></li>
                        <li>
                            <a href="single-product.html">Giới Thiệu</a>
                        </li>
                        <li>
                            <a href="cart.html">Liên Hệ</a>
                        </li>
                        <li><a href="checkout.html">Thanh Toán</a></li>
                    </ul>
                </div>
                <div class="bb">
                    <select style="padding: 5px; margin-top: 31px; font-size: 18px;border-radius:30px ;">
                        <option selected disabled>Name</option>
                        <option style="font-size:15px;" value="1">Đăng xuất</option>
                        <option  style="font-size:15px;"  value="2">Admin</option>
                        <option  style="font-size:15px;"  value="3">Hỗ trợ</option>
                     </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->