<div class="container">
    <p>{{productForm.value | json}}</p>
    <p>{{newProduct | json}}</p>
    <div class="row">
        <div class=" col-md-4">
            <form #productForm="ngForm" action="" class="form" (submit)="onSubmit(productForm.value)">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" name="name" [value]="Product_update.name" [(ngModel)]="newProduct.name" placeholder="Name">
                </div>
                <div class="form-group  mb-2">
                    <input type="text" class="form-control" name="price" [value]="Product_update.price" [(ngModel)]="newProduct.price" placeholder="Price">
                </div>
                <div class="form-group  mb-2">
                    <input type="text" class="form-control" name="desc" [value]="Product_update.desc" [(ngModel)]="newProduct.desc" placeholder="Desc">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
        <div style="margin-top: 20px;" class="col-md-12">
            <a routerLink="/product/create">
                <button class="btn btn-primary">
                  Tạo mới
                </button>
            </a>
        </div>
        <div class="col-md-8">
            <table class="table table-hover table-bordered">
                <thead>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Giá</th>
                    <th> Mô Tả</th>
                    <th> Hành Động</th>
                </thead>
                <tbody>

                    <tr *ngFor="let p of product">
                        <!-- product phần dbjson -->
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.desc}}</td>
                        <td><button (click)="onDelete(p.id)" class=" ms-2 btn btn-danger"> Xoa</button>
                            <!-- <button (click)="onEdit(p)" class=" ms-2  btn btn-warning"> Sua</button> -->
                            <a [routerLink]="['/product',p.id,'edit']"> <button (click)="onEdit(p)" class=" ms-2  btn btn-warning"> Sua</button></a>
                            <a [routerLink]="['/product',p.id]"> <button (click)="onEdit(p)" class="  ms-2  btn btn-success"> Chi Tiết</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>