<div class="container">
    <!-- <p>{{productForm.value | json}}</p> -->

    <p>{{newProduct | json}}</p>

    <div class="row">
        <!-- <div class="col-md-6">
        <form #productForm="ngForm" class="form" (submit)="onSubmit(productForm.value)">
          <div class="form-group">
            <input
            type="text"
            class="form-control"
            placeholder="name"
            name="name"
            [(ngModel)]="newProduct.name"
            >
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="price"
              name="price"
              [(ngModel)]="newProduct.price"
              >
          </div>
          <div class="form-group">
            <input
            type="text"
            class="form-control"
            placeholder="desc"
            name="desc"
            [(ngModel)]="newProduct.desc"
            >
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div> -->
        <div class="col-md-12">
            <a routerLink="./create">
                <button class="btn btn-primary">
            Tạo mới
          </button>
            </a>
        </div>
        <div class="col-md-12">
            <table class="table table-hover table-border">
                <thead>
                    <tr>
                        <td scope="col">ID</td>
                        <td scope="col">Ten SP</td>
                        <td scope="col">Gia SP</td>
                        <td scope="col">Mo ta SP</td>
                        <!-- <td scope="col">Ảnh</td> -->
                        <td scope="col">Trang thai</td>
                        <td scope="col">Hanh dong</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td scope="row">{{product.id}}</td>
                        <td scope="row">
                            <app-product-name [name]="product.name"></app-product-name>
                        </td>
                        <td scope="row">{{product.price}}</td>
                        <td scope="row">
                            <app-product-name [name]="product.desc"></app-product-name>
                        </td>
                        <!-- <td scope="row">{{product.img}}</td> -->
                        <!-- <td>{{product.status}}</td> -->
                        <td scope="row">
                            <app-status [status]="product.status" (changeStatus)="parentChangeStatus($event, product.id)">
                            </app-status>
                        </td>
                        <td scope="row">
                            <a [routerLink]="['./product', product.id]">
                                <button class="btn btn-primary">Xem chi tiet</button>
                            </a>
                            <a [routerLink]="['./product', product.id, 'edit']">
                                <button class="btn btn-warning">Chinh sua</button>
                            </a>
                            <button (click)="onDelete(product.id)" class="btn btn-danger">Xoa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>